.portfolio {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    @include mQ(768px) {
      display: block;
      margin-bottom: 4rem;
    }
  }
  &__subtitle {
    @include mQ(768px) {
      text-align: center;
      margin-bottom: 24px;
      padding-left: 0;
      img {
        position: static;
      }
    }
  }
  .item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 3px #ab9595d9;
    display: block;
    width: 30rem;
    height: 16rem;
    background-size: cover;
    border-radius: 0.2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;

    @include mQ(768px) {
      max-width: 38rem;
      width: 100%;
      height: 20rem;
      margin: 0 auto;
      margin-bottom: 3rem;
      background-position: center;
      box-shadow: 0 0 3px #1e4944c4;
    }
    &:hover {
      .item__mask {
        opacity: 1;
      }
      .item__price {
        left: 0;
        background: $box-price-hover;
      }
      .item__name {
        right: 0;
        background: $box-name-hover;
      }
    }
    &__image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center;
    }
    &__mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $box-bg-hover;
      opacity: 0;
      transition: all 0.3s;
      @include mQ(768px) {
        background-color: $box-bg-hover;
        opacity: 1;
      }
    }
    &__price {
      position: absolute;
      color: white;
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      top: 9rem;
      left: -70%;
      transition: all 0.3s;
      width: 70%;
      text-align: right;
      @include mQ(768px) {
        left: 0;
        background: $box-price-hover;
        top: 13rem;
      }
    }
    &__name {
      position: absolute;
      color: white;
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      top: 12rem;
      right: -70%;
      transition: all 0.3s;
      width: 70%;
      @include mQ(768px) {
        right: 0;
        background: $box-name-hover;
        top: 16rem;
      }
    }
  }
}
