//global
$bg-color: #f6f6f6;
$header-color: #4a4f54;
$sub-header-color: #4a4f54;
$text-color: #4a4f54;
$icon-color: #4a4f54;
$link-color: #d77513;
$header-size: 3.6rem;
$sub-header-size: 2rem;
$header-weight: 400;
//aside
$aside-bg-color: rgba(13, 79, 145, 0.8);
$aside-text-color: #fff;

//portfolio

$box-shadow: #e4dfdf;
$box-hover: #e4dfdf75;

$box-bg-hover: rgba(13, 79, 145, 0.3);
$box-price-hover: #d77513;
$box-name-hover: #914f0d;

//calc
$active-color: #d77513;
$border-color: #e4dfdf;
$question-color: rgba(13, 79, 145, 0.8);

//mixins
@mixin mQ($args) {
  @media screen and (max-width: $args) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  font-family: "Roboto", sans-serif;
}
body {
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
  font-weight: 300;
  background: $bg-color;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}
img {
  width: 100%;
  height: auto;
}
i {
  color: $icon-color;
  &:hover {
    color: lighten($icon-color, 1);
  }
}
a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: lighten($link-color, 1);
  }
  &:focus {
    outline: none;
  }
}
i {
  margin-right: 1rem;
}
h1 {
  display: flex;
  align-items: center;
  font-size: $header-size;
  font-weight: $header-weight;
  color: $header-color;
  text-transform: uppercase;
  margin-bottom: 2rem;
  @include mQ(900px) {
    font-size: 3rem;
  }
  @include mQ(768px) {
    font-size: 2.6rem;
    justify-content: center;
  }
  img {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
  }
}
h2 {
  position: relative;
  font-size: $sub-header-size;
  font-weight: $header-weight;
  color: $sub-header-color;
  margin-bottom: 1rem;
  padding-left: 3rem;
  img {
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 1.5rem;
    height: auto;
    margin-right: 1rem;
  }
}
.medium {
  font-weight: 500;
}

.container {
  margin-left: 25%;
  padding: 2rem;
  padding-left: 4rem;
  padding-top: 4.5rem;
  box-sizing: border-box;
  @include mQ(768px) {
    padding: 2rem 1rem;
  }
  &::before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    content: " ";
    display: block;
    width: 25%;
    background: url(/img/bg1.jpg) top center no-repeat $bg-color;
    background-size: cover;
  }
  @include mQ(768px) {
    margin-left: 0;
    &::before {
      position: absolute;
      width: 100%;
      height: 32.8rem;
    }
  }
}

strong {
  font-weight: 500;
}
